* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2F5233;
    color: #2B2118;
}

.page {
    min-height: 100vh;
    display: flex;
}


/* LEFT SIDE */

.intro {
    width: 50%;
    padding: 0 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1 {
    font-family: Georgia, serif;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 25px;
}

.intro p {
    font-size: 20px;
    line-height: 1.6;
    color: #D9E5D3;
    max-width: 500px;
}


/* RIGHT SIDE */

.form-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


/* LOGIN CARD */

.card {
    width: 500px;
    background-color: #F7F3EA;
    padding: 45px 40px;
    border-radius: 7px;
    border-left: 3px solid #A23E3E;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-family: Georgia, serif;
    font-size: 34px;
    margin-bottom: 10px;
}

.sub {
    color: #6B5F52;
    font-size: 18px;
    margin-bottom: 35px;
}


/* FORM */

.field {
    margin-bottom: 25px;
}

.field label {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px 5px;

    font-size: 18px;

    border: none;
    border-bottom: 2px solid #E6DCC8;

    background-color: transparent;
}

input:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid #b8862f;
}


/* REMEMBER ME */

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
    font-size: 16px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: normal;
}

.options input {
    width: auto;
}

a {
    color: #A23E3E;
}


/* BUTTON */

button {
    width: 100%;
    padding: 15px;
    background-color: #B8862E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #9C7126;
}

/* BOTTOM TEXT */

.footer-text {
    text-align: center;
    margin-top: 28px;
    font-size: 16px;
    color: #6B5F52;
}


/* MOBILE */

@media (max-width: 800px) {

    .page {
        flex-direction: column;
    }

    .intro {
        width: 100%;
        padding: 30px 20px;
    }

    .intro h1 {
        font-size: 32px;
    }

    .form-side {
        width: 100%;
        padding: 20px;
    }

    .card {
        width: 100%;
    }
}